.mypage
  = render "shared/header"

  %nav.bread-crumbs

  %main.mypage__body.clearfix
    .mypage__body__main


    = render "shared/mypage-sidebar"

  = render 'shared/appbanner'

  = render 'shared/footer'

