= render 'shared/header'

.mypage-all

  %nav.bread-crumbs

  %main.mypage-body.clearfix

    .mypage-body__main
      %section.signout
        %nav.signout__box
          %h6
            %a{:href => ""}
              ログアウト

    = render 'shared/mypage-sidebar'

  %aside.app-banner

    = render 'shared/appbanner'

  %footer.footerAll

    = render 'shared/footer'
