.mypage__body__main {
  &__title {
    font-size: 24px;
    padding: 8px 24px;
    border-bottom: 1px solid #f5f5f5;
    text-align: center;
    background-color: #fff;
    input {
      border: 0;
      outline: 0;
    }
  }
  &__user-name {
    padding: 72px 16px 24px;
    background-image: url("https://stat.ameba.jp/user_images/20160521/16/kumadai-tcg/9b/0a/j/o0800027813651712621.jpg?caw=800");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 -22px;
    text-align: center;
    font-size: 0;
    figure {
      margin: 0;
      padding: 0;
      display: inline-block;
      overflow: hidden;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      vertical-align: middle;
    }
    &__input {
      height: 48px;
      padding: 10px 16px 8px;
      border-radius: 4px;
      border: 1px solid #ccc;
      background: #fff;
      line-height: 1.5;
      font-size: 16px;
      width: 220px;
      margin: 0 0 0 8px;
      vertical-align: middle;
    }
  }
  &__profile {
    padding: 40px 16px;
    background-color: #fff;

    &__input {
      display: block;
      width: 100%;
      max-width: 100%;
      min-height: 216px;
      padding: 10px;
      border: 1px solid #ccc;
      background: #fff;
      font-size: 16px;
    }
    &__btn-red {
      display: block;
      width: 100%;
      line-height: 48px;
      font-size: 14px;
      border: 1px solid transparent;
      -webkit-transition: all ease-out .3s;
      transition: all ease-out .3s;
      cursor: pointer;
      text-align: center;
      margin: 16px 0 0;
      padding: 0;
      background: #ea352d;
      border: 1px solid #ea352d;
      color: #fff;
    }
  }
}
