.app-banner {
  background-image: url("https://www.mercari.com/jp/assets/img/common/jp/top/download_bg_pc.jpg?6820409");
  background-position: center;
}

.app-banner-pc {
  height: 260px;
  width: 750px;
  margin: 0 auto;
  position: relative;
  display: block;
}

.app-banner-pc-inner {
  color: white;
  position: absolute;
  top: 20%;
  h2 {
    font-size: 16px;
    margin: 0;
  }
}

.app-banner-pc-inner p {
  font-size: 24px;
  margin: 10px 0 0;
}

.app-banner-icon ul {
  float: left;
  margin: 0 0 0 24px;
  padding: 0;
}

.app-banner-icon li {
  display: inline-block;
}

.app-banner-icon figure {
  float: left;
  margin: 0;
}

.app-banner-phone {
  position: absolute;
  right: 0;
}
