.notification {
  .notice {
    background-color: #38AEF0;
    color: white;
    text-align: center;
    font-size: 18px;
  }
  .alert {
    background-color: #ea352d;
    color: white;
    text-align: center;
    font-size: 18px;    
  }
}